.Board
    min-width 500px
    min-height 800px
    padding-top 10px
    padding-bottom 5px

    &.MuiPaper-root
        background-color #212121

    .Input
        margin 0 10px

        .screen
            padding 10px
            color #f5f5f5

            &.MuiPaper-root
                background-color #424242

    .List
        margin 5px 10px