.flex
    dflex()
.flex-col
    flex-direction column
.flex-row
    flex-direction row
.f1
    flex-grow 1
.aic
    align-items center
.aie
    align-items flex-end
.aib
    align-items baseline
.asc
    align-self center
.jcc
    justify-content center
.jcs
    justify-content flex-start
.jce
    justify-content flex-end
.ofa
    overflow auto
.nowrap
    flex-wrap nowrap
.wrap
    flex-wrap wrap